
body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contenitore{
  background: rgba(0, 0, 0, 0.4);
  width: 1000px;
  margin: auto;
  padding: 95px;
}

.logo{
  color: lime;
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
}

.logotext{
  color: lime;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

nav{
  text-align: center;
  background-color: lime;
  padding: 10px;
  margin-bottom: 10px;
}


.importante{
  font-size: 25px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

*.info-via-e-metri{
  color: white;
  font-family: 'Poppins', sans-serif;
}

#primorisultato{
  background: orange;
  height: 35px;
  margin-right: 650px;
  border-radius: 10px;
}

#secondorisultato{
  background: red;
  height: 35px;
  margin-right: 800px;
  border-radius: 10px;
}

#terzorisultato{
  background: blue;
  height: 35px;
  margin-right: 500px;
  border-radius: 10px;
}
